<div id=u></div>
<div class=do id=le></div>
<div class=do id=ri></div>
<style>
  body{
    background: #62306D
  }
  div{
    position: absolute;
    background: #F7EC7D
  }
  #u {
    width: 100px;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    left: 150px;
    top:50px
  }
  .do{
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px;
    top: 150px
  }
  #le{
    left: 50px
  }
  #ri{
    right:50px
  }
</style>

